@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Strong Together</h1>
    <img alt="picture of gym with strong together on top" src="dir to pic"/>
</div>
